<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Hotel</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Hotel.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-custom-color border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" style="color: #F1F6F9;" asp-area="" asp-controller="Home" asp-action="Index">ATS Car Management</a>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.Identity.IsAuthenticated)
                        {
                            @if (User.IsInRole("Admin") || User.IsInRole("Staff"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link-two custom-text-color nav-link-space" asp-area="" asp-controller="Calendar" asp-action="Index">Kalendari</a>
                                </li>
                            }
                            @if (User.IsInRole("Admin"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link-two custom-text-color" asp-area="" asp-controller="Room" asp-action="Index">Makinat</a>
                                </li>
                            }

                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main">
            @RenderBody()

        </main>
    </div>

    <footer class="border-top footer" style="background-color: #A52A2A ; color: #F1F6F9; text-align: center;">
        <div class="container">
            ©️ 2024 All Rights Reserved
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
